// Layout Base Stylesheet
// ========================================

// Global Styles
html,
body {
  @include size(100%);
  background: $grey-light;
  margin: 0 auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  transition: all 0.5s ease;
}

// Center
.center {

  &__parent {
    position: relative;
  }

  &__child--vert {
    @include center($horizontal: false, $vertical: true);
  }
}

// Clears
.clear {
  clear: both;
}

.clearfix {
  @include clearfix;
}

// Dividers
hr {
  border: none;
  border-bottom: $border-alpha;
  margin: $spacer-delta auto;
}

// Floats
.float {

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

// Resets
@each $spacer, $keys in $spacer-positions {
  $position:  map-get($keys, position);

  // Margin Reset
  .margin-reset--#{$position} {
    @include reset(margin, $position);
  }

  .padding-reset--#{$position} {
    @include reset(padding, $position);
  }
}

.margin--reset  {
  margin: $reset-zero;
}

.padding--reset {
  padding: $reset-zero;
}

// Spacers
@each $spacer, $keys in $spacer-positions {
  $position:   map-get($keys, position);

  @each $size, $keys in $spacer-values {
    $size-value:  map-get($keys, value);

    // Spacer Margin
    .margin--#{$size} {
      @include spacer(margin, all, $size-value);
    }

    .margin-#{$position}--#{$size} {
      @include spacer(margin, $position, $size-value);
    }

    // Spacer Padding
    .padding--#{$size} {
      @include spacer(padding, all, $size-value);
    }

    .padding-#{$position}--#{$size} {
      @include spacer(padding, $position, $size-value);
    }
  }
}

// Visibility
@each $state, $keys in $visibility-states {
  $hide:         map-get($keys, hide);
  $media-hide:   map-get($keys, media-hide);
  $media-show:   map-get($keys, media-show);

  .visibility--#{$state} {
    @include visibility($media-hide, $media-show, $hide);
  }
}