// Alert Component Stylesheet
// ========================================

// Variables
$alert-animate-top:               0;

$alert-text-color:                $white-base;
$alert-text-display:              inline-block;
$alert-text-margin:               0;
$alert-text-width:                80%;

$alert-icon-display:              inline-block;
$alert-icon-margin:               2px $spacer-echo 0 0;
$alert-icon-v-align:              top;

$alert-trigger-cords:             23px 23px null null;
$alert-trigger-cusor:             pointer;
$alert-trigger-position:          absolute;


// Structure
.alert {

  // Alerts
  @each $alert, $styles in $alerts  {
    $color-1:  map-get($styles, background);
    $color-2:  map-get($styles, color);

    &--#{$alert} {
      @include alert($color-1, $color-2);

      // App Icons
      #app-icon{
        fill: $color-2;
      }

      // Alert Text
      .alert__text {
        @include s-foxtrot;
        color: $color-2;
        display: $alert-text-display;
        margin: $alert-text-margin;
        width: $alert-text-width;
      }
    }
  }

  // Alert Icon
  &__icon {
    display: $alert-icon-display;
    margin: $alert-icon-margin;
    vertical-align: $alert-icon-v-align;
  }

  // Alert Trigger
  &__trigger {
    @include position($alert-trigger-position, $alert-trigger-cords);

    &:hover {
      cursor: $alert-trigger-cusor;
    }
  }
}

// Alert Animation
@keyframes animate-alert {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Overrides for CargoLoop Application
.alert__container {

  .simple-notification-wrapper {
    height: auto;
    width: 100%;
    position: relative;

    // SimpleNotification always adds a position, top-right by default.
    // Manually override those values here.
    &.top   { top: 0;   }
    &.right { right: 0; }
    .simple-notification { padding: $reset-zero; }
    .simple-notification .icon { display: none; }
  }
}
