// Button Component Styles
// ========================================

// Variables
$button-hover-cursor-disabled:      not-allowed;

$button-input-height:               45px; // NOTE: Should match
                                          // form input height

// Structure
@each $button, $styles in $buttons {
  $bg-color:      map-get($styles, background-color);
  $border-color:  map-get($styles, border-color);
  $color:         map-get($styles, color);

  // Buttons
  .button--#{$button} {
    @include button($bg-color, $border-color, $color);

    // Disabled Button Hover
    &:hover {

      @if $button == 'disabled' {
        background-color: $bg-color;
        cursor: $button-hover-cursor-disabled;
      }
    }
  }
}

// Button Sizes
@each $button-size, $styles in $button-sizes {
  $display:     map-get($styles, display);
  $font-size:   map-get($styles, font-size);
  $padding:     map-get($styles, padding);
  $width:       map-get($styles, width);

  .button--#{$button-size} {
    @include button-size($display, $font-size, $padding, $width);
  }
}

// Button Size Full Mobile
.button--full-mobile {
  @extend .button--full;

  @include media($medium) {
    width: auto;
  }
}

// Button State
.button--disabled,
.disabled {
  @extend .button--disabled;
}

// Button Input Offset
.button--input {
  height: $button-input-height;
  line-height: $reset-zero;
}

.button--autocheck, .button--carfax {
  padding: 0;
  margin-bottom: 20px;
}
