// Card Component Stylesheet
// ========================================

// Variables
$card-margin-md:      0 0 $spacer-delta;
$card-padding-md:     $spacer-delta;

$card-margin-sm:      0 0 $spacer-echo;
$card-padding-sm:     $spacer-echo;


// Structure
.card {
  @include card($shadow: false);

  // Card Modifiers
  &--shadow {
    @include card($shadow: true);
    header {
      margin-left: -$spacer-charlie;
      margin-right: -$spacer-charlie;
      margin-top: 0px;
      margin-bottom: $spacer-charlie;
      padding: 0 0 $spacer-echo;
      border-bottom: 1px solid $grey-base;
      h4 {
        padding: 0 $spacer-charlie;
      }
    }
  }

  // Card Types
  &--md {
    margin: $card-margin-md;
    padding: $card-padding-md;
  }

  &--sm {
    margin: $card-margin-sm;
    padding: $card-padding-sm;
  }
}
