// Form Input Radio Component Stylesheet
// ========================================

// Variables
$radio-background:                   $white-base;
$radio-border:                       2px solid $grey-base;
$radio-border-radius:                30em;
$radio-cursor:                       pointer;
$radio-dimensions:                   17px;
$radio-display:                      inline-block;
$radio-margin:                       0 5px 0 0;
$radio-padding:                      0;
$radio-position:                     relative;
$radio-transition:                   all 0.2s ease-in;
$radio-v-align:                      bottom;

$radio-checked-background:           $blue-base;
$radio-checked-border:               2px solid $blue-base;
$radio-checked-margin:               0 auto;
$radio-checked-size:                 9px;

$radio-background-disabled:          $grey-alt-2;
$radio-border-disabled:              $grey-alt;
$radio-cursor-disabled:              not-allowed;


// Structure
input[type="radio"],
input[type="radio"]:focus {
  position: $radio-position;
  height: $radio-dimensions;
  width: $radio-dimensions;
  appearance: none;
  -webkit-appearance: none;
  background-color: $radio-background;
  border: $radio-border;
  border-radius: $radio-border-radius;
  display: $radio-display;
  margin: $radio-margin;
  outline: none;
  padding: $radio-padding;
  transition: $radio-transition;
  vertical-align: $radio-v-align;

  &:hover{
    border: $radio-checked-border;
    cursor: $radio-cursor;
  }

  &:disabled,
  &.disabled {
    background-color: $radio-background-disabled;
    border-color: $radio-border-disabled;

    &:hover {
      cursor: $radio-cursor-disabled;
    }
  }
}

input[type="radio"]:checked {
  border: $radio-checked-border;

  &:after{
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    height: $radio-checked-size;
    width: $radio-checked-size;
    background-color: $radio-checked-background;
    border-radius: $radio-border-radius;
    content: " ";
    margin: $radio-checked-margin;
    transition: $radio-transition;
  }
}

.radio--label {
  position: relative;

  &.radio--label__small {
    position: relative;
    @include s-foxtrot;
  }

  span {
    position: absolute;
    top: 2px;
  }
}
