// Form Input Select Component Stylesheet
// ==========================================

// Variables
$select-background-position:         98%;
$select-background-url:              'icons/icons-functional/icon-select.svg';
$select-padding:                     $spacer-delta + 5px;

$select-background-inactive:         $grey-light;
$select-border-inactive:             $border-bravo;


// Structure
select{
  @include font-type($primary-sans-serif, normal, 400);
  background-image: image-url($select-background-url);
  background-position: $select-background-position;
  background-repeat: no-repeat;
  padding-right: $select-padding !important; // NOTE: Forcing additional padding on the right so icon is not overlapped

  &:disabled {
    background-color: $select-background-inactive;
    border: $select-border-inactive;
    color: $grey-dark;
    cursor: not-allowed;
  }
}
