// Form Label Component Stylesheet
// ========================================


// Variabeles
$form-label-color:          $black-base;
$form-label-display:        inline-block;
$form-label-margin:         $spacer-echo;
$form-label-transform:      capitalize;

$form-label-offset-margin:  22px;

$fieldset-border:           $border-alpha;
$fieldset-margin:           0 0 $spacer-charlie;

$form-label-msg-margin:     0 0 0 $spacer-echo;

$form-label-error-color:    $red-base;

$form-label-success-color:  $green-base;


// Structure
label,
.form__label {
  @extend .text--bold;
  @include s-foxtrot;
  color: $form-label-color;
  display: $form-label-display;
  margin-bottom: $form-label-margin;
  text-transform: $form-label-transform;
  span {
    &.required {
      color: $form-label-error-color;
    }
  }
}

// Offset if label is not present
  // NOTE: Use to position button correctly on horizontal forms
.label--offset {
  margin-top: $form-label-offset-margin;
}

// Fieldset
.fieldset--border {
  border-bottom: $fieldset-border;
  margin: $fieldset-margin;
}

// Label Modifiers
.input--error {
  color: $form-label-error-color;
}

.input--success {
  color: $form-label-success-color;
}

.form-group-button {
  margin: 0 0 20px 0;
  > input[type="radio"] {
    &.margin-left {
      margin-left: 20px;
    }
  }
}
