// Form Input Checkbox Component Stylesheet
// ============================================

// Variables
$checkbox-background:                   $white-base;
$checkbox-border:                       2px solid $grey-base;
$checkbox-border-radius:                3px;
$checkbox-cursor:                       pointer;
$checkbox-dimensions:                   17px;
$checkbox-display:                      inline-block;
$checkbox-margin:                       0 5px 0 0;
$checkbox-padding:                      0;
$checkbox-position:                     relative;
$checkbox-transition:                   all 0.2s ease-in;
$checkbox-v-align:                      bottom;

$checkbox-checked-background:           $blue-base;
$checkbox-checked-border:               2px solid $blue-base;

$checkbox-background-disabled:          $grey-alt-2;
$checkbox-border-disabled:              $grey-alt;
$checkbox-cursor-disabled:              not-allowed;

$checkbox-label-cursor:                 pointer;


// Structure
input[type="checkbox"],
input[type="checkbox"]:focus {
  position: $checkbox-position;
  height: $checkbox-dimensions;
  width: $checkbox-dimensions;
  appearance: none;
  -webkit-appearance: none;
  background-color: $checkbox-background;
  border: $checkbox-border;
  border-radius: $checkbox-border-radius;
  display: $checkbox-display;
  margin: $checkbox-margin;
  outline: none;
  padding: $checkbox-padding;
  transition: $checkbox-transition;
  vertical-align: $checkbox-v-align;

  &:hover{
    border: $checkbox-checked-border;
    cursor: $checkbox-cursor;
  }

  &:disabled,
  &.disabled {
    background-color: $checkbox-background-disabled;
    border-color: $checkbox-border-disabled;

    &:hover {
      cursor: $checkbox-cursor-disabled;
    }
  }
}

input[type="checkbox"]:checked {
  background-color: $checkbox-checked-background;
  border: $checkbox-checked-border;

  &:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: image-url('guide/icons/icon-checkmark.svg') no-repeat center center;
    background-size: 10px;
    content: '';
    height: 100%;
    text-align: center;
    transition: $checkbox-transition;
    width: 100%;
  }
}

.checkbox--label {
  position: relative;
  cursor: $checkbox-label-cursor;

  &.checkbox--label__small {
    position: relative;
    @include s-foxtrot;
  }

  span {
    @include position(absolute, 2px null null null);
  }
}
