.log {
  .row {
    padding: 15px 0 0;
    text-align: left;
    border-bottom: 1px solid $grey-light;
  }
  .log-label {
    width: 200px;
    display: inline-block;
    p {
      color: $black-base;
    }
  }
  .log-text {
    display: inline-block;
    p {
      color: $grey-alt;
    }
  }
}
