// Popout Component
// ========================================

// Variables
$popout-cords-sm:             0 -15px null null;
$popout-cords-md:             30px -15px null null;

$popout-inverse-cords:        null -15px 20px null;

$popout-container-display:    inline-block;
$popout-container-position:   relative;
$popout-container-width:      100%;

$popout-delete-border:        $border-bravo;
$popout-delete-color:         $red-base;
$popout-pause-border:         $border-bravo;
$popout-pause-color:          $blue-base;


// Structure
.popout {
  @include popout($popout-cords-sm);

  @include media($medium) {
    @include popout($popout-cords-md);
  }

  // Popout Inverse
  &--inverse {
    @include popout($popout-inverse-cords);
    top: inherit;
  }

  // Popout Container
  &__container {
    position: $popout-container-position;
    // display: $popout-container-display;
    width: $popout-container-width;
  }

  // Popout List
  &__list {
    white-space: nowrap;
  }

  &__item {
    display: block;
    font-weight: 400;
    margin: 0;
    padding: $spacer-echo 0;

    &:last-child {
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }
}
