table {
  width: 100%;
  thead {
    tr {
      padding: 10px;
      border-bottom: 1px solid $grey-base;
      th {
        font-weight: 600;
        text-align: left;
        font-size: $s-golf;
        padding: 10px 2px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $grey-base;
      &:nth-child(odd) {
        background: $white-base;
      }
      &:nth-child(even) {
        background: $grey-light;
      }
      &:hover {
        background: lighten($grey-alt, 48%);
      }
      td {
        font-size: $s-golf;
        padding: 10px 2px;
        a {
          font-weight: 600;
          border-bottom: 1px dotted $black-base;
        }
      }
    }
  }
}
