// Tab Component Stylesheet
// ========================================


// Variables
$tab-margin-top:                     $spacer-charlie;

$tab-list-border:                    $border-alpha;
$tab-list-padding:                   0;

$tab-list-item-align:                left;
$tab-list-item-color:                $black-base;
$tab-list-item-color-active:         $blue-light;
$tab-list-item-margin:               $spacer-charlie;
$tab-list-item-opacity:              0.5;
$tab-list-item-padding:              0 0 $spacer-echo;
$tab-list-item-position:             relative;

$tab-list-item-opacity-active:       1;

$tab-list-link-bg:                   $blue-light;
$tab-list-link-cords:                null null -6px null;
$tab-list-link-color-active:         $blue-base;
$tab-list-link-height:               3px;
$tab-list-link-position:             absolute;
$tab-list-link-transition:           width 0.5s ease;
$tab-list-link-width:                0;
$tab-list-link-width-active:         100%;

$tab-content-margin:                 $spacer-charlie;
$tab-content-animation-in:           fade-show 1.75s ease;

$tab-list-link-color-dark:           $white-base;


// Structure
.tabs {
  display: block;
  margin-bottom: $spacer-delta;
}

.tab {

  // Tab Nav List
  &__list {
    border-bottom: $tab-list-border;
    padding: $tab-list-padding;
  }

  // Tab Nav Item
  &__item {
    @include font-type($primary-sans-serif, normal, 400);
    position: $tab-list-item-position;
    @include s-foxtrot;
    color: $tab-list-item-color;
    cursor: pointer;
    display: inline-block;
    opacity: $tab-list-item-opacity;
    padding: $tab-list-item-padding;
    text-align: $tab-list-item-align;

    &::before {
      position: $tab-list-link-position;
      bottom: -6px;
      background-color: $tab-list-link-bg;
      content: " ";
      display: block;
      height: $tab-list-link-height;
      transition: $tab-list-link-transition;
      width: $tab-list-link-width;
    }

    &:not(:last-child) {
      margin-right: $tab-list-item-margin;
    }

    &.is-active {
      opacity: $tab-list-item-opacity-active;
      font-weight: 700;
      color: $tab-list-item-color-active;

      &::before {
        width: $tab-list-link-width-active;
      }
    }
  }

  // Tab Pane
  &__content {
    display: none;
    margin-top: $tab-content-margin;

    &.is-active {
      animation: $tab-content-animation-in;
      display: block;
    }
  }
}
