<article  role="article" id="buttons" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Buttons</h3>
    <p>These elements should be used for actions that the user can take. The primary button is labeled primary and is the dominant application color. It should be used in most cases when users are prompted to perform a submission. On the other hand, the danger button should be used for actions that cannot be undone or are final. The button styles can be applied to various elements on the page. As long as it is suppose to act like a button, the styles are OK to use.</p>
  </div>
  <div class="guide__section-group">
    <ul>
      <li class="margin-bottom--charlie">
        <button class="button--default">Button Text</button>
      </li>
      <li class="margin-bottom--charlie">
        <button class="button--primary">Button Text</button>
      </li>
      <li class="margin-bottom--charlie">
        <button class="button--secondary">Button Text</button>
      </li>
      <li class="margin-bottom--charlie">
        <button class="button--danger">Button Text</button>
      </li>

      <li class="margin-bottom--charlie">
        <button class="button--orange">Button Text</button>
      </li>

      <li class="margin-bottom--charlie">
        <button class="button--blue-base">Button Text</button>
      </li>

      <li class="margin-bottom--charlie">
        <button class="button--disabled" disabled>Button Text</button>
      </li>
    </ul>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
  <!-- Button Default -->
  <button class="button--default">Button Text</button>

  <!-- Button Primary -->
  <button class="button--primary">Button Text</button>

  <!-- Button Secondary -->
  <button class="button--secondary">Button Text</button>

  <!-- Button Danger -->
  <button class="button--danger">Button Text</button>

  <!-- Button Orange -->
  <button class="button--orange">Button Text</button>

  <!-- Button Blue Base -->
  <button class="button--blue-base">Button Text</button>

  <!-- Button Disabled -->
  <button class="button--disabled" disabled>Button Text</button>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">HTML Guidelines</h6>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a button.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--[type]</td>
          <td class="table-guide__body-item">This should be applied to the element you are styling to look like a button. The class name should change based on the type of button being used. <% code("html") do %><button class="button--primary">Button Text</button><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--default</td>
          <td class="table-guide__body-item">Basic button and should be used as a way for user to cancel a request.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--primary</td>
          <td class="table-guide__body-item">Standard button and should be used in almost all cases.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--secondary</td>
          <td class="table-guide__body-item">Button used for in-page actions such as copying text to a user's clipboard.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--danger</td>
          <td class="table-guide__body-item">Only use this button when an action is final and cannot be undone.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--disabled</td>
          <td class="table-guide__body-item">This style of button should be used to notify a user they cannot perform an action because of missing data or there are no changes to be saved.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">role="button"</td>
          <td class="table-guide__body-item">If you style a link to look like a button please add this attribute to maintain a level of semantic markup.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--small</td>
          <td class="table-guide__body-item">Apply this modifier if you want a small button.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--tiny</td>
          <td class="table-guide__body-item">Apply this modifier if you want a tiny button.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.button--full</td>
          <td class="table-guide__body-item">Apply this modifier if you want a button that takes up 100% of its space.</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
