<article  role="article" id="colors">
  <div class="margin-bottom--charlie">
    <h3 class="title">Buttons</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula quis dui eget euismod. Etiam in libero sit amet libero vulputate placerat. Curabitur in posuere augue, at porta dolor.</p>
  </div>
</article>
