<article  role="article" id="cards" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Cards</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula quis dui eget euismod. Etiam in libero sit amet libero vulputate placerat. Curabitur in posuere augue, at porta dolor.</p>
  </div>
  <div class="guide__section-group">
    <ul>
      <li class="margin-bottom--charlie">
        <div class="card">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card--shadow">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card card--md">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card card--sm">Card text goes here.</div>
      </li>
    </ul>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
  <!-- Card Base -->
  <div class="card">Card text goes here.</div>

  <!-- Card Shadow -->
  <div class="card--shadow">Card text goes here.</div>

  <!-- Card Base Medium -->
  <div class="card card--md">Card text goes here.</div>

  <!-- Card Base Small -->
  <div class="card card--sm">Card text goes here.</div>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">HTML Guidelines</h6>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a button.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card</td>
          <td class="table-guide__body-item">This should be applied to the element you are styling to look like a card. <% code("html") do %><div class="card">Card Text</div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--shadow</td>
          <td class="table-guide__body-item">If a card should have a shadow, then simply apply this class name. <% code("html") do %><div class="card--shadow">Card Text</div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--md</td>
          <td class="table-guide__body-item">Apply this modifier to the card element to change the padding.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--sm</td>
          <td class="table-guide__body-item">Apply this modifier to the card element to change the padding.</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>