<article  role="article" id="form-elements" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Form Elements</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula quis dui eget euismod. Etiam in libero sit amet libero vulputate placerat. Curabitur in posuere augue, at porta dolor.</p>
  </div>
</article>