<article role="article" id="links" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Links</h3>
    <p class="text">This component should be used for navigational purposes or appending items to a list. If you want to move a user from one page to the next or load an overlay, then a link is the right way to go. Avoid using links when asking users to submit final actions.</p>
  </div>
  <div class="guide__section-group">
    <ul class="guide__list">
      <li class="guide__item">
        <a href="#" class="link--primary">Link Text</a>
      </li>
      <li class="guide__item">
        <a href="#" class="link--secondary">Link Text</a>
      </li>
      <li class="guide__item">
        <a href="#" class="link--danger">Link Text</a>
      </li>
      <li class="guide__item">
        <a href="#" class="link--disabled" disabled>Link Text</a>
      </li>
    </ul>
  </div>
  <div class="guide__section-group">
    <h4 class="content-section__label">Sample Code</h4>
<% code("html") do %>
  <!-- Main Link -->
  <a href="#" class="link--primary">Link Text</a>

  <!-- Secondary Link -->
  <a href="#" class="link--secondary">Link Text</a>

  <!-- Warning Link -->
  <a href="#" class="link--warning">Link Text</a>

  <!-- Disabled Link -->
  <a href="#" class="link--disabled" disabled>Link Text</a>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h4 class="content-section__label">HTML Guidelines</h4>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a link.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.link--[type]</td>
          <td class="table-guide__body-item">This should be applied to the element you are styling as a link. The class name should change based on the type of link being used. <% code("html") do %><a href="#" class="link--alpha"></a><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>