<article  role="article" id="popouts" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Popouts</h3>
    <p>Popouts should be used when you have additional options that could not be displayed on the page properly or if you have secondary actions that are not used as often.</p>
  </div>
  <div class="guide__section-group">
    <div class="popout__container">
      <a href="#" class="popout__trigger link--primary">Popout Trigger</a>
      <figure class="popout">
        <ul class="popout__list">
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
        </ul>
      </figure>
    </div>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
  <!-- Popout Basic -->
  <div class="popout__container">
    <a href="#" class="popout__trigger link--primary">Popout Trigger</a>
    <figure class="popout">
      <ul class="popout__list">
        <li class="popout__item">
          <a href="#" class="popout__link">Popout Link</a>
        </li>
        <li class="popout__item">
          <a href="#" class="popout__link">Popout Link</a>
        </li>
        <li class="popout__item">
          <a href="#" class="popout__link">Popout Link</a>
        </li>
      </ul>
    </figure>
  </div>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">HTML Guidelines</h6>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a popout.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout__container</td>
          <td class="table-guide__body-item">The popout container class should be applied to the parent element of the popout. It sets the positioning and creates a wrapper for the popout to display in. <% code("html") do %><div class"popout__container"></div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout__trigger</td>
          <td class="table-guide__body-item">Apply this class to the element that is being clicked to activate the popout element. This class could be applied to an anchor or button. Depending on the element you apply this class to, you should then use the button or link styles to style the element correctly. <% code("html") do %><a href="#" class="popout__trigger link--alpha">Popout Trigger</a><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout</td>
          <td class="table-guide__body-item">Apply this class to the popout element. It is styled similar to a card and inherits from the card component. <% code("html") do %><div class="popout"> <!-- Popout content --> </div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout__list</td>
          <td class="table-guide__body-item">Apply to the unordered list element. <% code("html") do %><ul class="popout__list"> <!-- Popout list --> </ul><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout__item</td>
          <td class="table-guide__body-item">Apply to the list element. <% code("html") do %><li class="popout__item"> <!-- Popout list --> </li><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout--inverse</td>
          <td class="table-guide__body-item">Apply this modifier to the popout element to make it appear above the popout trigger rather than below it. <% code("html") do %><div class="popout popout--inverse"> <!-- Popout Inverse Content --> </div><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>