// Alerts Variables Settings Stylesheet
// ========================================

$alerts: (
  'success': (
    background: $green-base,
    color: $black-base,
  ),
  'caution': (
    background: $yellow-base,
    color: $black-base
  ),
  'notification': (
    background: $blue-base,
    color: $black-base
  ),
  'warning': (
    background: $red-base,
    color: $black-base
  )
);
