// Badges Variables Settings Stylesheet
// ========================================

$badges: (
  'primary': (
    background: #E3F2FE,
    color: $blue-base
  ),
  'active': (
    background: #D9F8E8,
    color: $green-base,
  ),
  'caution': (
    background: #FFF6E5,
    color: $yellow-base
  ),
  'warning': (
    background: #FFE4E0,
    color: $red-base
  )
);