// Borders Variables Settings Stylesheet
// ========================================

$border-alpha:    1px solid $grey-base;
$border-bravo:    1px solid $grey-alt-2;

$border-tab-thin: 1px solid $orange-base;
$border-tab-thic: 2px solid $orange-base;