// Buttons Variables
// ========================================

// Buttons Standard
$buttons: (
  'primary': (
    background-color: $blue-light,
    border-color: $blue-light,
    color: $white-base
  ),
  'secondary': (
    background-color: $green-base,
    border-color: $green-base,
    color: $white-base
  ),
  'danger': (
    background-color: $red-base,
    border-color: $red-base,
    color: $white-base
  ),
  'default': (
    background-color: $grey-base,
    border-color: $grey-base,
    color: $black-base
  ),
  'orange': (
    background-color: $orange-base,
    border-color: $orange-base,
    color: $white-base
  ),
  'blue-base': (
    background-color: $blue-base,
    border-color: $blue-base,
    color: $white-base
  ),
  'disabled': (
    background-color: $grey-base,
    border-color: $grey-base,
    color: $grey-alt-2
  ),
  'carfax': (
    background-color: #3777BC,
    border-color: #3777BC,
    color: $white-base
  ),
  'autocheck': (
    background-color: #104279,
    border-color: #104279,
    color: $white-base
  )
);

// Button Sizes
$button-sizes: (
  'tiny': (
    display: null,
    font-size: $s-hotel,
    padding: 6px $spacer-delta,
    width: null
  ),
  'small': (
    display: null,
    font-size: $s-golf,
    padding: 8px $spacer-delta,
    width: null
  ),
  'full': (
    display: null,
    font-size: null,
    padding: null,
    width: 100%
  )
);
