// Colors Variables Settings Stylesheet
// ========================================

// Black
$black-base:   #1B2431;

// Blue
$blue-light:   #5CA9FB;
$blue-base:    #5D758D;
$blue-dark:    #273142;

// Green
$green-base:   #47D78D;

// Grey
$grey-light:   #F5F7F9;
$grey-base:    #E1E6EB;
$grey-dark:    #83909A;

$grey-alt:     #737E86;
$grey-alt-2:   #313B3F;

// Orange
$orange-base:  #FB8948;

// Purple
$purple-light: #CF81C4;
$purple-base:  #8383DF;

// Yellow
$yellow-base:  #F9B65A;

// Red
$red-base:     #FF5A4D;

// White
$white-base:   #FFFFFF;


// Main Palette List
$colors: (
  black-base:    $black-base,
  blue-light:    $blue-light,
  blue-base:     $blue-base,
  blue-dark:     $blue-dark,
  green-base:    $green-base,
  grey-light:    $grey-light,
  grey-base:     $grey-base,
  grey-dark:     $grey-dark,
  grey-alt:      $grey-alt,
  grey-alt-2:    $grey-alt-2,
  orange-base:   $orange-base,
  purple-light:  $purple-light,
  purple-base:   $purple-base,
  yellow-base:   $yellow-base,
  red-base:      $red-base,
  white-base:    $white-base
);
