// Link Variables Settings Stylesheet
// ========================================

// Buttons Standard
$links: (
  'primary': (
    color: $blue-light
  ),
  'secondary': (
    color: $grey-alt
  ),
  'danger': (
    color: $red-base
  ),
  'disabled': (
    color: $grey-alt-2
  )
);
