// Spacers Variables Settings Stylesheet
// ========================================

// Variables
$reset-zero:     0;

$spacer-alpha:   120px;
$spacer-bravo:   60px;
$spacer-charlie: 30px;
$spacer-delta:   15px;
$spacer-echo:    5px;


// Spacer Positions Map
$spacer-positions: (
  bottom: (
    position: bottom
  ),
  left: (
    position: left
  ),
  right: (
    position: right
  ),
  top: (
    position: top
  )
);

// Spacer Values Map
$spacer-values: (
  alpha: (
    value: $spacer-alpha
  ),
  bravo: (
    value: $spacer-bravo
  ),
  charlie: (
    value: $spacer-charlie
  ),
  delta: (
    value: $spacer-delta
  ),
  echo: (
    value: $spacer-echo
  )
);