// App Topbar Module Stylesheet
// ========================================

// Variables
$app-topbar-bg:                     $white-base;
$app-topbar-box-shadow:             0 2px 10px 0 rgba(205,216,221,0.30);
$app-topbar-display:                inline-block;
$app-topbar-padding-sm:             0;
$app-topbar-position:               fixed;
$app-topbar-width:                  100%;
$app-topbar-z-index:                100002;
$app-topbar-max-height:             70px;

$app-topbar-logo-width:             200px;
$app-topbar-logo-margin-r:          30px;

$app-topbar-left-float:             left;
$app-topbar-right-float:            right;

$app-topbar-item-margin-t:          25px;
$app-topbar-item-margin-r:          $spacer-charlie;
$app-topbar-item-position:          relative;

$app-topbar-link-color:             $grey-alt;
$app-topbar-link-color-active:      $blue-light;
$app-topbar-link-line-height:       0;

$app-topbar-link-border-bg:         $blue-light;
$app-topbar-link-border-cords:      null null -28px null;
$app-topbar-link-border-display:    block;
$app-topbar-link-border-height:     2px;
$app-topbar-link-border-position:   absolute;
$app-topbar-link-border-width:      100%;

$app-topbar-mobile-trigger-color:   $grey-alt-2;

$app-topbar-mobile-menu-float:      none;
$app-topbar-mobile-menu-height:     0;
$app-topbar-mobile-menu-height-2:   130px;
$app-topbar-mobile-menu-overflow:   hidden;
$app-topbar-mobile-menu-transition: all 0.5s ease;

// Structure
.application-topbar {
  position: $app-topbar-position;
  top: 0;
  background-color: $app-topbar-bg;
  box-shadow: $app-topbar-box-shadow;
  padding: $app-topbar-padding-sm;
  width: $app-topbar-width;
  z-index: $app-topbar-z-index;
  max-height: $app-topbar-max-height;
}

// Application Topbar Left
.application-topbar__left {
  display: $app-topbar-display;
  float: $app-topbar-left-float;
  margin-right: $app-topbar-logo-margin-r;

  .logo {
    width: $app-topbar-logo-width;
  }
}

// Application Topbar Middle
.application-topbar__middle {
  display: $app-topbar-display;
  float: $app-topbar-left-float;
}

// Application Topbar Right
.application-topbar__right {
  display: $app-topbar-display;
  float: $app-topbar-right-float;
  .chip__container {
    margin-top: 15px;
    float: right;
  }
}

// Application Topbar List
.application-topbar__list {
  display: none;

  @include media($medium) {
    display: inline-block;
  }

  .application-topbar__item {
    position: $app-topbar-item-position;
    display: $app-topbar-display;
    margin-top: $app-topbar-item-margin-t;
    margin-right: $app-topbar-item-margin-r;
  }
}

// Application Topbar Link
.application-topbar__link {
  @extend .text--bold;
  @include s-foxtrot;
  color: $app-topbar-link-color;
  display: $app-topbar-display;
  line-height: $app-topbar-link-line-height;

  &--active {
    color: $app-topbar-link-color-active;

    &::after {
      position: $app-topbar-link-border-position;
      bottom: -28px;
      background-color: $app-topbar-link-border-bg;
      content: " ";
      display: $app-topbar-link-border-display;
      height: $app-topbar-link-border-height;
      width: $app-topbar-link-border-width;
    }
  }
}

// Application Topbar Mobile Trigger
.application-topbar__mobile-trigger {
  display: inline-block;
  margin: 11px 0 0 0;

  @include media($medium) {
    display: none;
  }

  #app-icon {
    fill: $grey-alt-2;
  }
}

.application-topbar__mobile-menu {
  float: $app-topbar-mobile-menu-float;
  height: $app-topbar-mobile-menu-height;
  overflow: $app-topbar-mobile-menu-overflow;
  transition: $app-topbar-mobile-menu-transition;

  &.active {
    height: $app-topbar-mobile-menu-height-2;
    margin: $spacer-charlie 0 0;
  }

  .application-topbar__item {
    margin: $spacer-delta 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
