// Alert Mixin Settings Stylesheet
// ========================================

// Alert Mixin
@mixin alert($background-value, $color-value) {

  // Variables
  $alert-border-radius:             3px;
  $alert-box-shadow:                0 2px 15px 0 rgba(45,45,45,0.20);
  $alert-margin:                    0 auto $spacer-charlie;
  $alert-padding:                   20px;
  $alert-position:                  0 0 null 0;
  $alert-text-align:                left;
  $alert-animation-duration:        0.8s;
  $alert-width:                     auto;
  $alert-z-index:                   100001;
                                    // Modal-body is 99999; alerts must show above modals

  // Structure
  @include font-type($primary-sans-serif, normal, 400);
  @include position(relative, $alert-position);
  animation-duration: $alert-animation-duration;
  animation-fill-mode: forwards;
  animation-name: animate-alert;
  background-color: $background-value;
  border-radius: $alert-border-radius;
  border: 1px $background-value solid;
  box-shadow: $alert-box-shadow;
  margin: $alert-margin;
  padding: $alert-padding;
  text-align: $alert-text-align;
  width: $alert-width;
  z-index: $alert-z-index;
}
