// Form Label Component Stylesheet
// ========================================


// Variabeles
$form-label-color:          $black-base;
$form-label-display:        block;
$form-label-margin:         $spacer-echo;
$form-label-transform:      capitalize;

$form-label-offset-margin:  $spacer-delta + 2px;

$fieldset-border:           $border-alpha;
$fieldset-margin:           0 0 $spacer-charlie;

$form-label-msg-margin:     0 0 0 $spacer-echo;

$form-label-error-color:    $red-base;

$form-label-success-color:  $green-base;


// Structure
label,
.form__label {
  @extend .text--bold;
  @include s-golf;
  color: $form-label-color;
  display: $form-label-display;
  margin-bottom: $form-label-margin;
  text-transform: $form-label-transform;
}

// Offset if label is not present
  // NOTE: Use to position button correctly on horizontal forms
.label--offset {
  margin-top: $form-label-offset-margin;
}

// Fieldset
.fieldset--border {
  border-bottom: $fieldset-border;
  margin: $fieldset-margin;
}

// Label Modifiers
.input--error,
.input--success {
  margin: $form-label-msg-margin;
}

.input--error {
  color: $form-label-error-color;
}

.input--success {
  color: $form-label-success-color;
}