// Page Guide Stylesheet
// ========================================

// Variables
$guide-page-cords:                    94px null null null;
$guide-page-margin:                   $spacer-bravo 0 0 0;
$guide-page-padding:                  0 $spacer-delta;
$guide-page-position:                 relative;

$guide-page-section-margin:           0 0 $spacer-alpha;

$guide-section-margin-top:            $spacer-alpha;

$guide-section-header-margin:         $spacer-charlie;


// Structure
.page {
  @include position($guide-page-position, $guide-page-cords);
  margin: $guide-page-margin;
  padding: $guide-page-padding;
}

.page__section {
  @include clearfix;
  margin: $guide-page-section-margin;
}

.guide__section {
  @extend .container;
  margin-top: $guide-section-margin-top;
}

.guide__section-header {
  @include span-columns(4 of 4);
  margin-bottom: $guide-section-header-margin;

  @include media($medium) {
    @include span-columns(6 of 9);
  }

  @include media($large) {
    @include span-columns(8 of 12);
  }
}

.guide__section-content {
  @include span-columns(4 of 4);

  @include media($medium) {
    @include span-columns(7 of 9);
  }

  @include media($large) {
    @include span-columns(8 of 12);
  }

  .guide__section-group-container {
    margin-bottom: $spacer-bravo;
  }

  .guide__section-group {
    @include row;
    margin-bottom: $spacer-charlie;
  }
}

.guide__section-aside {
  display: none;

  @include media($medium) {
    @include span-columns(2 of 9);
    display: block;
  }

  @include media($large) {
    @include span-columns(3 of 12);
    @include shift(1 of 12);
  }
}

// Guide List
.guide__list {
  @extend .row;

  .guide__item {
    @include span-columns(4 of 4);

    @include media($medium) {
      @include omega(4n);
      @include span-columns(2 of 8);
    }
  }
}