// Application Page Pages Stylesheet
// ========================================

// Variables
$page-cords:            94px null null null;
$page-margin:           $spacer-bravo 0 0 0;
$page-padding:          0 $spacer-delta;
$page-position:         relative;

$page-section-margin:   0 0 $spacer-alpha;


// Structure
.page {
  @include position($page-position, $page-cords);
  margin: $page-margin;
  padding: $page-padding;
}

.page__section {
  @include clearfix;
  margin: $page-section-margin;
}