---
title: CargoLoop - Vehicles
---
<!-- Left Nav -->
<section role="navigation" aria-label="CargoLoop Vehicle Left Navigation" class="left-nav">
  <button class="button--primary">+ New Vehicle</button>
  <div class="accordion">
    <ul>
      <li>All<span>79666</span></li>
      <li>Chicago<span>79666</span></li>
      <li>Houston<span>79666</span></li>
      <li>Los Angeles<span>79666</span></li>
      <li>Newark<span>79666</span></li>
      <li>Savannah<span>79666</span></li>
      <li>Other<span>79666</span></li>
    </ul>
  </div>
</section>

<!-- Search Box -->
<section class="search">
  <div class="container">
    <div class="row"></div>
  </div>
</section>
